include README.md
include setupbase.py

# Javascript files
include js/tsconfig.json
include js/package.json
include js/webpack.config.js
graft js/src
graft js/css

prune js/lib
prune **/node_modules
prune jupyter_jsmol/labextension
exclude jupyter_jsmol/nbextension/static/index.*
exclude jupyter_jsmol/nbextension/static/extension_new.*
exclude docs/static/embed-bundle.*

# Tests
graft tests

# Documentation
graft docs
prune site

# Examples
prune examples

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints