include README.md

include setupbase.py

include js/tsconfig.json
include js/package.json
include js/webpack.config.js
include jupyter_jsmol/labextension/*.tgz

# Documentation
graft docs
exclude docs/\#*
prune site

# Examples
graft examples

# Javascript files
graft jupyter_jsmol/nbextension
graft js/src
graft js/css
prune js/lib
prune **/node_modules

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
