include README.md
include LICENSE

include setup.py
include jupyter-jsmol.json
include pyproject.toml
include install.json

# Examples
prune examples

# Tests
graft tests
prune tests/build

# Javascript files
graft js
prune **/node_modules

graft jupyter_jsmol/nbextension
graft jupyter_jsmol/labextension

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude *.map
